.form-cancion-container {
  padding: 2rem;
  color: whitesmoke;
  max-width: 400px;
  margin: auto;
  padding: 3rem;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}
.titulo-cancion {
 font-weight: bold;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-size: x-large;
}
.form-cancion {
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: transparent;

}

.form-cancion input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  font-family: 'Helvetica Neue', sans-serif;

}

.form-cancion button {
  background-color: #25415f;
  color: white;
  border: none;
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
}

.mensaje {
  margin-top: 1rem;
  color: red;
  font-weight: bold;
}

.form-cancion textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: inherit;
  background-color: transparent;
    font-family: 'Helvetica Neue', sans-serif;

}
.icono {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
}