@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Dancing Script', cursive;
  background-color: #f2eee8;
  color: black;
}

h1, h2 {
  font-family: 'Dancing Script', cursive;
}

.main-ceremonias {
    background-color: whitesmoke;

}
