@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Dancing Script', cursive;
  background-color: #ffffff;
  color: #202d45;
}

h1, h2 {
  font-family: 'Dancing Script', cursive;
}

.main-ceremonias {
    background-color: whitesmoke;

}

.fondo-cancion {
  background-color: #202d45;
}

